{% extends "base.html" %}
{% load static %}

{% block title %} Kiralamalar {% endblock %}
{% block css_files %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.5/datatables.min.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}


{% block content %}


<div class="container">
    <h1>Kiralanmış İhalar</h1>
    <hr>
    {% if success %}
    <div class="alert alert-success">
        {{success}}
    </div>
    {% endif %}
    <table id="datatable1" class="table table-striped">
        <thead>
        <tr>
            <th scope="col" style="width: 3%;">Kiralama No</th>
            <th scope="col">Marka</th>
            <th scope="col">Model</th>
            <th scope="col">Kategori</th>
            <th scope="col" style="width: 5%;">Ağırlık (Kg)</th>
            <th scope="col" style="width: 5%;">Kanat Genişliği (m)</th>
            <th scope="col">Kira Başlangıç Tarihi</th>
            <th scope="col">Kira Bitiş Tarihi</th>
            <th scope="col">İşlem</th>
        </tr>
        </thead>
        <tbody>
        {% for rent in renteds %}
        {% include 'customer/partials/_rented_iha.html' %}
        {% endfor %}
        </tbody>
    </table>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $(".cancel-btn").click(function() {
            var obj_id = $(this).data("custom-id");
            $.ajax({
                url: "/rent-delete",
                method: "POST",
                data: {
                    obj_id: obj_id,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(data) {
                    window.location.reload();
                },
                error: function(xhr, errmsg, err) {
                    console.log(xhr.status + ": " + xhr.responseText);
                    alert(err);
                }
            });
        });
    });
</script>
{% endblock %}

{% block js_files %}
<script src="{% static 'customer/js/script.js' %}"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.11.5/datatables.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#datatable1').DataTable({
        'columnDefs': [
           {
                "targets": [0,3,4,5,6,7,8],
                "className": "text-center",
           }
         ],
            "createdRow": function(row, data, index) {
                $('td', row).css('vertical-align', 'middle').css('text-align');
            },
            "scrollY": "50vh", // Sabit bir yükseklik belirtilebilir
      });
    });
</script>

{% endblock %}