{% load static %}


<tr>
    <td>{{ iha.Marka }}</td>
    <td>{{ iha.Model }}</td>
    <td>{{ iha.Kategori }}</td>
    <td>{{ iha.Agirlik }}</td>
    <td>{{ iha.Kanat_w }}</td>
    <td>{{ iha.Adet }}</td>
    <td>{{ iha.Musaitlik }} adet</td>
    <td>
        <button type="button" class="btn {% if iha.Bakim_yapildi_mi %}btn-success{% else %}btn-danger{% endif %} disabled">
            {% if iha.Bakim_yapildi_mi %}Yapıldı{% else %}Yok{% endif %}
        </button>
    </td>
    <td>
        <button type="button" class="btn {% if iha.Status %}btn-success{% else %}btn-danger{% endif %} disabled">
            {% if iha.Status %}Aktif{% else %}Pasif{% endif %}
        </button>
    </td>
    <td><a href="{% url 'rentable_detail' iha.Iha_id %}" class="btn btn-primary" >Kiralamaya Başla</a></td>
</tr>

