<nav>
    <ul>
        <li>
            <a class="" href="/">Baykar</a>
        </li>
        {% if request.session.user_logged_in %}
        {% if request.session.customer_name %}
        <li class="">
            <a class="" href="{% url 'renteds' %}">Kiralamalarım ({{ request.session.customer_name }})</a>
        </li>
        {% endif %}
        <li class="">
            <a class="" href="{% url 'logout' %}">Çıkış</a>
        </li>
        {% else %}
        <li class="">
            <a class="" href="{% url 'register' %}">Kayıt</a>
        </li>
        <li class="">
            <a class="" href="{% url 'login' %}">Giriş</a>
        </li>
        {% endif %}

    </ul>
</nav>

