<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">IHA</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'ihalar' %}">İhalar</a>
                </li>
            </ul>

            <ul class="navbar-nav ms-auto">
                {% if request.session.user_logged_in %}
                    {% if request.session.customer_name %}
                        <li class="nav-item">
                            <a class="nav-link" href="/">{{ request.session.customer_name }}</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'renteds' %}">Kiralamalarım</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Çıkış</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Kayıt</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Giriş</a>
                    </li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>
